/* [sass, public/styles/sass, your-project.scss] */
html {
  font-family: Arial, Helvetica, serif;
  font-size: 15px;
  color: #333;
}

body {
  padding: 20px;
}

.nav {
  overflow: hidden;
  *zoom: 1;
  padding: 0;
  list-style: none;
}
.nav > li {
  float: left;
}
.nav > li > a {
  background-color: #2F2F2F;
  color: #fff;
  border-left: 1px solid #fff;
  padding: 10px 15px;
  display: inline-block;
}
.nav > li:first-child > a {
  border-left: none;
}
.nav > li.current > a {
  background-color: #4F4F4F;
}

.btn {
  color: #fff;
  padding: 10px 15px;
  background-color: #2F2F2F;
  display: inline-block;
  margin-top: 5px;
}

.double-list {
  display: table;
  table-layout: fixed;
  width: 100%;
  margin-bottom: 2.7em;
  padding-top: 1.7em;
}
.double-list .sortable,
.double-list .actions {
  display: table-cell;
}
.double-list .sortable {
  width: 50%;
  list-style: none;
}
.double-list .sortable .title {
  color: #555555;
  font-weight: bold;
  margin-bottom: .3em;
}
.double-list .sortable [draggable="true"] {
  cursor: move;
}
.double-list .sortable [draggable="true"]:hover {
  background: #ededed;
}
.double-list .sortable .list {
  margin: 0;
  padding: 0;
  height: 25em;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  border: 1px solid #dbdbdb;
}
.double-list .sortable .list li {
  border-top: 1px solid #f2f2f2;
  padding: 0 1em;
  height: 2em;
  line-height: 2em;
}
.double-list .sortable .list li:first-child {
  border-top: none;
}
.double-list .sortable .list .checked {
  background: #d7b0e5;
  border-top-color: #d7b0e5;
  font-weight: bold;
}
.double-list .sortable .list.droppable {
  border-color: red;
}
.double-list .actions {
  vertical-align: middle;
  list-style: none;
  padding: 0 .83em;
}
.double-list .actions .action {
  width: 100%;
  text-align: left;
  line-height: 1.4;
  margin: 0;
}
.double-list .actions .action::-moz-focus-inner {
  padding: 0 !important;
  border: 0 !important;
}
.double-list .actions li {
  margin-top: .4em;
}
.double-list .actions li:first-child {
  margin-top: 0;
}
.double-list .actions.move {
  width: 8.34em;
}
.double-list .actions.move .move-right:before,
.double-list .actions.move .move-right-all:before,
.double-list .actions.move .move-right-all:after,
.double-list .actions.move .move-left:before,
.double-list .actions.move .move-left-all:before,
.double-list .actions.move .move-left-all:after {
  content: '';
  display: inline-block;
  border: 0.45em solid transparent;
  -moz-border-right-colors: rgba(0, 0, 0, 0);
  border-right-width: 0;
  border-left-color: #8b8b8b;
  margin-left: 0.225em;
  text-align: center;
  margin-right: 0.825em;
  float: left;
  margin-top: 0.25em;
}
.double-list .actions.move .move-right-all:before,
.double-list .actions.move .move-right-all:after,
.double-list .actions.move .move-left-all:before,
.double-list .actions.move .move-left-all:after {
  margin-left: 0;
  margin-right: .6em;
}
.double-list .actions.move .move-right-all:before,
.double-list .actions.move .move-left-all:before {
  margin-right: 0;
}
.double-list .actions.move .move-left:before,
.double-list .actions.move .move-left-all:before,
.double-list .actions.move .move-left-all:after {
  border: 0.45em solid transparent;
  border-left-width: 0;
  border-right-color: #8b8b8b;
}
.double-list .actions.order {
  width: 1px;
}
.double-list .actions.order .action {
  width: 1.8em;
  height: 2em;
  padding: .2em .45em .3em .45em;
}
.double-list .actions.order .action:before {
  height: 3em;
}
.double-list .actions.order .order-up:before,
.double-list .actions.order .order-up:after,
.double-list .actions.order .order-down:before,
.double-list .actions.order .order-down:after {
  content: '';
  display: block;
  border: 0.45em solid transparent;
  -moz-border-right-colors: rgba(0, 0, 0, 0);
  border-top-width: 0;
  border-bottom-color: #8b8b8b;
  text-align: center;
  width: 0;
  height: 0;
}
.double-list .actions.order .order-down:before,
.double-list .actions.order .order-down:after {
  border: 0.45em solid transparent;
  border-bottom-width: 0;
  border-top-color: #8b8b8b;
}
.double-list .action {
  font-size: .9em;
  color: #555555;
  border: 1px solid #c1c1c1;
  padding: .2em .55em .3em .55em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dedede));
  background-image: -webkit-linear-gradient(#ffffff, #dedede);
  background-image: -moz-linear-gradient(#ffffff, #dedede);
  background-image: -o-linear-gradient(#ffffff, #dedede);
  background-image: linear-gradient(#ffffff, #dedede);
}
.lt-ie9 .double-list .action {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFDEDEDE');
}
.double-list .action::-moz-focus-inner {
  padding: 0;
}
.double-list .action:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #ededed));
  background-image: -webkit-linear-gradient(#ffffff, #ededed);
  background-image: -moz-linear-gradient(#ffffff, #ededed);
  background-image: -o-linear-gradient(#ffffff, #ededed);
  background-image: linear-gradient(#ffffff, #ededed);
}
.lt-ie9 .double-list .action:hover {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFFFFFFF', endColorstr='#FFEDEDED');
}
.double-list .action:active {
  padding: .3em .55em .2em .55em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e6e6e6), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(#e6e6e6, #dbdbdb);
  background-image: -moz-linear-gradient(#e6e6e6, #dbdbdb);
  background-image: -o-linear-gradient(#e6e6e6, #dbdbdb);
  background-image: linear-gradient(#e6e6e6, #dbdbdb);
}
.lt-ie9 .double-list .action:active {
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFE6E6E6', endColorstr='#FFDBDBDB');
}
.double-list .acceptor {
  background: red;
}
.double-list .dragged {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
